<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Phòng</title>
<link href="/css/style2.css" rel='stylesheet' type='text/css'
	media="all" />
</head>
<body>
	<div class="menu">
			<span>
			<img alt="" src="/images/iconmenu.png" width="15px" height="15px"></span> <span><a th:href="@{/}">Trang Chủ</a></span> 
			<span><a th:href="@{/student}">Sinh Viên</a></span> 
			<span><a th:href="@{/room}">Phòng</a></span> 
		
			<span><a th:href="@{/bill}">Hóa Đơn</a></span> 
			<span><a th:href="@{/service}">Dịch vụ</a></span> 
			<span><a th:href="@{/invite/show}">Khách Mời</a></span>

		</div>
		
		<br />
		<br />
		
		
	<div style="text-align: center">
		<form th:action=@{/room/search}  method="GET">
			<input id="rn" type="text" name="roomNumber" placeholder="Nhập số phòng"/>
			<input type="submit" name="search by room number" value="Tìm phòng" onclick="check()">
		</form>
		
	</div>
	</br>
	</br>
	</br>
	</br>
	
	<div style="text-align: center">
		<a th:href="@{/room/add}" style="height: 40px;width: 100px"> <button>Thêm phòng</button></a></td>
	</div>
	<div>
		<h1>Danh sách phòng</h1>
		<table cellspacing="" border="1">
			<tr>
				<th>STT</th>
				<th>Số phòng</th>
				<th>Loại</th>
				<th>Giá phòng</th>
				<th>Số người ở tối đa</th>
				
				<th></th>
			</tr>
			<tr th:each="room, state: ${rooms}" >		
  					<td align="right"><span th:text="${state.index}+1"></span></td>
					<td align="right"><span th:text="${room.roomNumber}"></span></td>
					<td align="right"><span th:text="${room.type}"></span></td>
					<td align="right"><span th:text="${room.price}"></span></td>
					<td align="right"><span th:text="${room.capacity}"></span></td>
					<td><a th:href="@{/room/edit(id=${room.id})}">Sửa</a>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<a th:href="@{/room/delete(id=${room.id})}">Xóa</a></td>
			</tr>
		</table>
	</div>
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
	
	
	<script>
		function check() {
			var value = document.getElementById("rn").value;
			if(value === "") {
				alert("Vui lòng nhập số phòng");
			}
		}
	</script>

</body>
</html>